html{
    height: 100%;
    
}
* {
    padding: 0;
    margin: 0;
}
body {
    background-image: url('../Imagenes/FondoPequeño.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen de fondo en su lugar */
}
#icono img{
 width: 50%;
 height: 50%;
 margin-left: 13%;
 background-color: #bfd5ff;
}

.container-fluid{
    background-color: #bfd5ff;
}
.navbar-toggler{
    display: flex;
    justify-content: end;
}
#menu{
    float: right;
    display: flex;
    flex: 1;
    padding: 1.5%;
    margin: 0.8%;
    border-right: rgb(149, 79, 149);
}
#menu a{
    margin: 15px;
    text-decoration: none;
    color: rgb(149, 79, 149);
    border-right: 1px solid rgb(149, 79, 149);
    padding-right: 1%;
}
#navbarSupportedContent a:hover{
    color: azure;
}
#navegador{
    background-color: #bfd5ff ;
    
}
#foot{
    background-color: #bfd5ff;
    margin-top: 25px;
}
#foot p{
    text-align: right;
    padding: 15px;
}
#foot img{
    width: 45px;
    height: 45px;
}
#suscribeBnt{
    margin-top: 15px;
    border-color: white;
    background-color: white;
    color: black;
}
#suscribeBnt:hover{
    background-color: #aecafe;
}
#redesSociales{
    display: flex;
    margin: 75px;
    justify-content: left;
    
}
#redesSociales a{
 margin: 15px;
}
#autor{
    display: flex;
    
}
#contenedorFoot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#contact{
    background-color: rgba(255, 255, 255, 0.689);
    text-align: center;
    margin-top: 10px;
}
#container{
    background-color: #aecafe;
    margin-top: 10px;
    display: block;
}
#chat{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
h3,p{
    text-align: center;
}
#contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#nombre{
    width: 600px;
}
#botonG {
    background-color: #a4c2fb;
    border-color: white;
    color: black;
    margin-top: 10px;
}

#botonG:hover {
    background-color: white;

}


@media(max-width:768px){
    
    #contenedorFoot{
        flex-direction: column;
    }
    #menu{
        position: relative;
        background-color: #bfd5ff;
    }
    #navegador{
         flex-direction: column;
         background-color: #bfd5ff;
         
    }
    .container-fluid{
        display: flex;
        justify-content: end;
    }
    .navbar-toggler{
        display: block;
        justify-content: end;
    }
    #autor {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    #icono img{
        width: 30%;
        height: 30%;
        background-color: #bfd5ff;
       }
       #nombre{
        width: 260px;
    }
    #contact{
        text-align: left;
    }
    }